<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Festo.Fractions" version="2.0.0.58" targetFramework="net48" />
  <package id="Festo.Plugin.Annotations" version="2.7.0.12" targetFramework="net48" />
  <package id="Festo.ProductDefinition" version="1.0.0.396" targetFramework="net48" />
  <package id="Festo.ProductDefinition.EngpXmlHandling" version="1.0.0.396" targetFramework="net48" />
  <package id="Festo.ProductDefinition.Factory" version="1.0.0.396" targetFramework="net48" />
  <package id="Festo.ProductDefinition.Interfaces" version="1.0.0.396" targetFramework="net48" />
  <package id="Festo.ProductDefinition.InternalParametersHandling" version="1.0.0.396" targetFramework="net48" />
  <package id="Festo.ProductDefinition.Merge" version="1.0.0.396" targetFramework="net48" />
  <package id="Festo.ProductDefinition.Merge.EngpXmlHandling" version="1.0.0.396" targetFramework="net48" />
  <package id="Festo.ProductDefinition.Merge.Interfaces" version="1.0.0.396" targetFramework="net48" />
  <package id="Festo.Tool.Common" version="1.0.0.37" targetFramework="net48" />
  <package id="Festo.Tool.Common.Interfaces" version="1.0.0.37" targetFramework="net48" />
  <package id="Festo.Tool.DataModel" version="2.0.0.231" targetFramework="net48" />
  <package id="Festo.Tool.DataModel.Drives.EngpXml" version="2.0.0.231" targetFramework="net48" />
  <package id="Festo.Tool.DataModel.Interfaces" version="2.0.0.231" targetFramework="net48" />
  <package id="Festo.Tool.DataModel.Localization" version="2.0.0.231" targetFramework="net48" />
  <package id="Festo.Tool.Drives.Engp" version="1.0.0.91" targetFramework="net48" />
  <package id="Festo.Tool.Drives.Engp.LogicModules" version="1.0.0.91" targetFramework="net48" />
  <package id="Festo.Tool.Sdk.AsyncJobServer" version="1.1.0.97" targetFramework="net48" />
  <package id="Festo.Tool.Sdk.Messenger.Interfaces" version="1.1.0.113" targetFramework="net48" />
  <package id="Festo.Tool.SourceLinkTest" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net46" requireReinstallation="true" />
</packages>