<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Festo.DialogService" publicKeyToken="5dd53ce29f9de8c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.4" newVersion="2.7.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Festo.Theme" publicKeyToken="4550491f59b0c724" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.4" newVersion="2.7.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
